body {
  font: 400 15px/1.5 Verdana, "Arial", sans-serif;
  color: #333333;
  background-color: #fffafa;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  color: #10488b;
}

h2 {
  margin: 20px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  color: #10488b;
}

h2 span {
  font-size: 15px;
}

p {
  margin: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #0000cd;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  margin-bottom: 5px;
}

ul:not(.personal) li::before {
  content: "- ";
}

ul li span {
  font-weight: 700;
}

.container {
  padding: 0 0 20px 0;
  border-bottom: 3px solid #af5756;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.header {
  padding-top: 20px;
}

.header-photo {
  float: left;
  width: 150px;
  margin-right: 50px;
}

.main {
  font-size: 0;
}
.main p {
  font-size: 15px;
}

.main-left {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding-right: 10px;
  vertical-align: top;
  font-size: 15px;
}

.main-right {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding-left: 10px;
  vertical-align: top;
  font-size: 15px;
}

.footer {
  padding-bottom: 30px;
}

@media screen and (max-width: 800px) {
  .main-left {
    display: block;
    width: 100%;
    padding-right: 0;
  }

  .main-right {
    display: block;
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .header-photo {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
